<div style="display:inline-block;">
  Hours: <span>{{hours}}</span>
</div>
<p>
<div style="display:inline-block;">
  Minutes: <span>{{minutes}}</span>
</div>
<p>
<div style="display:inline-block;">
  Seconds: <span> {{seconds}}</span>
</div>
<p>
<div style="display:inline-block;">
  Percent: <span>{{percent}}</span>
</div>

<div>
  <input type="text" placeholder="Total Seconds" [(ngModel)]= "totalSeconds">
  <input type="text" placeholder="Remaining Seconds" [(ngModel)]= "remainingSeconds">
  <button (click)= "onStartTimer()">Start Timer</button>
</div>